<!DOCTYPE html>
<html lang="en">

<head>
  <link rel = "stylesheet" href="profile.css">
  <meta charset="utf-8"/>
  <title>Student Profile Creation</title>
  <script src="bower_components/angular/angular.js"></script>
  <link rel="stylesheet" href="bower_components/angular-timeline/dist/angular-timeline.css"/>
  <script src="bower_components/angular-timeline/dist/angular-timeline.js"></script>
  <script src="app.js"></script>
  <script src="eventformcontroller.js"></script>
</head>

<body ng-app="myApp">
<table>
  <td class="blankcol">
  </td>
  <td id="fullcol">
  <div id="title">
    <h1>
      Add a new Event
  </h1>
  </div>
  <div ng-controller="eventformcontroller">
    <form id="form">
      <label>Event Name: <input type="text" ng-model="user.eventname" required/></label><br/>
      <label>Event Type: <select ng-model="user.eventtype" ng-options="event as event for event in eventtypes " required></select></label><br/>
      <label>Date: <input type="date" ng-model="user.date" required/></label><br/><br>
      <label>Favorite Moment: </br><input type="text" id="fav_moment" ng-model="user.moment" /></label><br/>
      <label>Something I learned: </br><input type="text" id="learned" ng-model="user.learn" /></label><br/>
      <label>Picture: <input ng-model="photo"
       onchange="angular.element(this).scope().file_changed(this)"
       type="file" accept="image/*" /> </label>
      <input type="submit" ng-click="update(user)" value="Submit" />
    </form>

    <timeline>
    <timeline-event ng-repeat="event in events | orderBy: 'date'" side="">
      <timeline-badge class="{{event.badgeClass}}">
        <i class="glyphicon {{event.badgeIconClass}}"></i>
      </timeline-badge>
      <timeline-panel class="{{event.badgeClass}}">
        <timeline-heading>
          <h4>{{event.eventname}} {{event.date | date: format: longdate}}</h4>
        </timeline-heading>
        <p>Event Type: {{event.eventtype}} </br></p>
        <p>Favorite Moment: {{event.moment}} </br></p>
        <p>Something I learned: {{event.learn}} </br></p>
      </timeline-panel>
    </timeline-event>
  </timeline>
  </div>
  <td>
  <td class="blankcol">
  </td>
</table>
</body>

</html>
