<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8"/>
  <title>Student Profile Creation</title>
  <script src="bower_components/angular/angular.js"></script>
  <script src="app.js"></script>
  <script src="eventformcontroller.js"></script>
  <link rel="stylesheet" href="bower_components/angular-timeline/dist/angular-timeline.css"/>
  <script src="bower_components/angular-timeline/dist/angular-timeline.js"></script>
</head>

<body ng-app="myApp">
  <div ng-controller="eventformcontroller">
    <form>
      <label>Event Name: <input type="text" ng-model="user.eventname" /></label><br/>
      <label>Event Type: <select ng-model="user.eventtype" ng-options="event as event for event in eventtypes "></select></label><br/>
      <label>Date (yyyy-mm-dd): <input type="date" ng-model="user.date" /></label><br/>
      <label>Favorite Moment: <input type="text" ng-model="user.moment" /></label><br/>
      <label>Something I learned: <input type="text" ng-model="user.learn" /></label><br/>
      <input type="submit" ng-click="update(user)" value="Submit" />
    </form>

    <timeline>
    <timeline-event ng-repeat="event in events | orderBy: 'date'" side="">
      <timeline-badge class="{{event.badgeClass}}">
        <i class="glyphicon {{event.badgeIconClass}}"></i>
      </timeline-badge>
      <timeline-panel class="{{event.badgeClass}}">
        <timeline-heading>
          <h4>{{event.eventname}} {{event.date | date: format: longdate}}</h4>
        </timeline-heading>
        <p>Event Type: {{event.eventtype}} </br></p>
        <p>Favorite Moment: {{event.moment}} </br></p>
        <p>Something I learned: {{event.learn}} </br></p>
      </timeline-panel>
    </timeline-event>
  </timeline>
  </div>
</body>

</html>
