.horizontal-nav {
  background: #58cb89;
  border-radius: 6px;
}
.horizontal-nav ul {
  background: #0e9ace;
  float: left;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #0e9ace ;
}
.horizontal-nav ul li {
  float: left;
  border-left: 1px solid #0e9ace;
}
.horizontal-nav ul li:first-child {
  border-left: 0 none;
}
.horizontal-nav ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  border-top: 1px solid rgba(255,255,255, 0.25);
  border-left: 1px solid rgba(255,255,255, 0.25);
}
.horizontal-nav ul li:first-child a {
  border-left: 0 none;
}
.horizontal-nav ul li a:hover {
  background: #12808a;
}
.horizontal-nav ul li:first-child a {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.horizontal-nav ul li:last-child a {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

/***#logos{
  text-align: justify;
}
.logos{
  width:auto;
  height:30px;
  display: inline-block;
  width: 350px;
  height: 75px;
}

#logos:after {
    content: '';
    display: inline-block;
    width: 100%;
}*/
