p{ color:white}
#table{
	width: 218px;
    border:solid black;
	margin-top: 50px;
	margin-left: 30px;
  
	margin-right: auto;background-color:#aaa7a5;
    

}

    
}
#form {
    text-align: center
    
}

}
* {
  box-sizing: border-box;
}


body {
  background-color: #44b944;
  font-family: Helvetica, sans-serif;
}




/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: ;
  width: 50%;
}

}




/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}



/* Full-width containers */
  .container {
    width: 100%;
   
  }
