/* pargaraph formatting*/
p{ color:white}
/* table formatting*/
#table{
	width: 218px;
    border:solid black;
	margin-top: 50px;
	margin-left: 30px;
  
    margin-right: auto;background-color:#aaa7a5;
}
    
/* form formatting*/
#form {
    text-align: center
    
}

}
* {
  box-sizing: border-box;
}


body {
  background-color: #44b944;
  font-family: Helvetica, sans-serif;
}



/* timeline entry formatting*/
.container {
  padding: 10px 40px;
  position: relative;
  background-color: ;
  width: 50%;
}

}




.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}



  .container {
    width: 100%;
   
  }
