@font-face {
  font-family: palanquin;
  src:url(palanquin/palanquin-regular.ttf);
}
@font-face {
  font-family: palanquin-bold;
  src:url(palanquin/palanquin-bold.ttf);
}
body {
  margin:0px;
}
input[type=text], select, textarea {
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

#fav_moment,#learned{
    width: 45%; /* Full width */
    padding: 20px; /* Some padding */
}

#title {
  width: 100%;
  text-align: center;
  font-size: 32px;
  padding-bottom: 20px;
  font-family: palanquin-bold;
}

#form {
  text-align: center;
  font-family: palanquin;
}

.blankcol {
  width: 16vw;
  background-color: #44b944;
  height: 99vh;
  border-spacing: 0px;
}

#fullcol {
  width:68vw;
  height: 99vh;
  border-spacing: 0px;
}
